<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 style="text-align: center;">Schedules</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Pet Name</th>
          <th>Pet Owner</th>
          <th>Phone</th>
          <th>Date</th>
          <th style="text-align: center">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules | async">
          <td>{{schedule.petName}}</td>
          <td>{{schedule.petOwner}}</td>
          <td>{{schedule.phone}}</td>
          <td>{{schedule.date}}</td>
          <td>
              <button (click)="scheduleDetails(schedule.id)" class="btn btn-outline-primary btn-sm" style="margin-left: 10px">Details</button>
              <button (click)="updateSchedule(schedule.id)" class="btn btn-outline-secondary btn-sm" style="margin-left: 10px">Update</button>
              <button (click)="deleteSchedule(schedule.id)" class="btn btn-outline-danger btn-sm" style="margin-left: 10px">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
